/* styles in src/style directory are applied to the whole page */
body {
  /*background: #0147A7;*/
  /*color: #fff;*/
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

#blockquote-sentence-getter{
  font-family: 'Kalam', cursive;
}

#panel-body-sentence-historical{
  max-height: 250px;
  overflow-y: auto;
}

#navbar{
  margin-top: 10px;
}

#chuck-img{
  width: 53px;
  margin-top: 4px;
  margin-bottom: -18px;
  margin-right: 10px;
}