@import './_variables.scss';
@import './_vendor.scss';

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $main-color;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

#blockquote-sentence-getter{
  font-family: 'Kalam', cursive;
}

#panel-body-sentence-historical{
  max-height: 250px;
  overflow-y: auto;
}

#navbar{
  margin-top: 10px;
}

#chuck-img{
  margin-top: 4px;
}

#sweep-img{
  margin-top: 4px;
  margin-right: 10px;
  cursor: pointer;
}